---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---
<div class="container">
	{# <img style="max-width:300px;"src="/img/knot.png"> #}
	<canvas id="myCanvas"></canvas>
	<div>
		<p class="text-center">Applied mathematics</p>
		<div class="d-flex justify-content-center text-center flex-row">
			<div class="me-5">
				<a href="https://github.com/nima64" target="_blank" rel="noopener noreferrer">
					<i class="fa-brands fa-2x fa-github"></i>
				</a>
			</div>
			<div class="me-5">
				<a href="https://linkedin.com/in/nyima-tamang-2ab9a5b7" target="_blank" rel="noopener noreferrer">
					<i class="fa-brands fa-2x fa-linkedin"></i>
				</a>
			</div>
			<div class="me-5">
				<a href="#">
					<i class="fa-solid fa-envelope fa-2x "></i>
				</a>
			</div>
		</div>
	</div>
	<div class="my-5 p-4 mx-auto col-md-8 text-center " >
		<h3 class=" text-center p-4">Hi, I'm Nyima</h3>
		<p>
			I'm a second year math major . I'm also a computer geek, writting software is my hobby and passion. I strive to solve real world problems with math & programming.
		</p>
	</div>

	<h3 class="text-center py-3 my-3">Projects I've been Working on Lately</h3>
	<div>
		{% set projectslist = collections.projects %}
		{% include "projectslist.njk" %}
	</div>
</div>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h4>
	Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}
</h4>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
	<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}

{%- js %}{% include "public/js/torus-knot.js" %}{% endjs %}
{# {%- css %}{% include "public/css/type-writer.css" %}{% endcss %} #}
{# List every content page in the project #}

{# <ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul> #}