{# {%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %} #}
{# <ul reversed class="postlist">
	{% for project in projectslist | reverse %}
		<li>
			<div>
				<img src=""/>
			</div>
			<div>
				<a href="{{ project.data.projectURL }}" class="postlist-link">
					{% if project.data.title %}{{ project.data.title }}
					{% else %}
						<code>{{ project.url }}</code>
					{% endif %}
				</a>
				<p>{{ project.data.description }}</p>
			</div>
		</li>
	{% endfor %}
</ol> #}

<div class="container col-md-10 my-4">
	{% for project in projectslist | reverse %}
		<div class="row">
			<div class="col-lg">
				<img src="{{project.data.imgURL}}"/>
			</div>
			<div class="col-lg">
				<div class="py-4">
					<a href="{{project.data.projectURL}}">
						<h4 class="pt-4">{{project.data.title}}</h4>
					</a>
				</div>
				{{project.content | safe}}
			</div>
		</div>
	{% endfor %}
</div>